.vscode
tags

**/build

# QtCreator files for lib-mmy
**/*.creator.user
c/lib-mmy/lib-mmy.config
c/lib-mmy/lib-mmy.creator
c/lib-mmy/lib-mmy.creator.user
c/lib-mmy/lib-mmy.files
c/lib-mmy/lib-mmy.includes
c/lib-mmy/test

c/system-calls/threading/fork/fork
c/system-calls/networking/server-open-socket/server-open-socket

node/**/node_modules
node/react/react-typescript-basic/dist
node/react/react-basic/dist
