# QtCreator files for lib-mmy

c/lib-mmy/lib-mmy.config
c/lib-mmy/lib-mmy.creator
c/lib-mmy/lib-mmy.creator.user
c/lib-mmy/lib-mmy.files
c/lib-mmy/lib-mmy.includes
c/lib-mmy/test

c/system-calls/threading/fork/fork
c/system-calls/networking/open-socket/open-socket