package pages

import "mmyoungman/templ/views/layouts"
import "mmyoungman/templ/utils"

templ Examples(baseArgs utils.BaseArgs) {
	@layouts.Base("Example uses", baseArgs) {
		<div class="text-xl text-blue-500">Example uses page</div>
		<hr/>
		<p>Here are examples using templ/htmx:</p>
		<br />
		<ul>
		<li><a href="/examples/click-button-load-partial">Click button load partial</a></li>
		<li><a href="/examples/todo">ToDo List</a></li>
		</ul>
	}
}
