package pages

import "mmyoungman/templ/views/layouts"

templ Examples(username string, nonce string) {
	@layouts.Base("Example uses", username, nonce) {
		<div class="text-xl text-blue-500">Example uses page</div>
		<hr/>
		<p>Here are examples using templ/htmx:</p>
		<br />
		<ul>
		<li><a href="/examples/click-button-load-partial">Click button load partial</a></li>
		<li><a href="/examples/todo">ToDo List</a></li>
		</ul>
	}
}
