package pages

import "mmyoungman/templ/views/layouts"
import "mmyoungman/templ/utils"

templ Home(baseArgs utils.BaseArgs) {
	@layouts.Base("Home", baseArgs) {
		<div class="text-xl text-blue-500">Home page</div>
		<hr/>
		<div>This is the home page</div>
	}
}