package pages

import "mmyoungman/templ/views/layouts"

templ User(username string) {
	@layouts.Base("User", username) {
		<div class="text-xl text-blue-500">User page</div>
		<hr/>
		if username == "" {
			<div>Welcome to the user page! Please log in!</div>
		} else {
			<div>Welcome to the user page! You are logged in!</div>
		}
		<div hx-get="/test" class="bg-center">
			<button class="btn">Click this!</button>
		</div>
	}
}
