package components

templ Button(text string, toRoute string) {
    // @MarkFix remove this component
    <a 
        type="button" 
        href={ templ.URL(toRoute) }
    >
        { text }
    </a>
}